Dear {{.Recipient}},
<p>

Conflict(s) encountered with submission {{.Submission}};
<p>

Please go here to investigate: {{.Url}}
<p>

Best Regards,<br>
APTrust submission service,<br>
University of Virginia Library<br>
<p>

{{.Sender}}