Dear {{.Recipient}},
<p>

One or more validation failures identified with {{.Client}} submission {{.Submission}};
<p>

To investigate: {{.Url}}
<p>

Best Regards,<br>
APTrust submission service,<br>
University of Virginia Library<br>
<p>

{{.Sender}}