Dear {{.Recipient}},
<p>

Approval is required for {{.Client}} submission {{.Submission}};
<p>

To review and approve: {{.Url}}
<p>

Best Regards,<br>
APTrust submission service,<br>
University of Virginia Library<br>
<p>

{{.Sender}}